/* 로고 및  */
#Top_Container {
    display: flex; /* 자식 요소들을 가로로 배치 */
    align-items: center; /* 세로 정렬을 중앙으로 설정 */
    margin: 0 auto;
	width: 70%;
}

/* 화면 상단의 사용자 이름 */
#userName_label {
	margin: 0 10px 0 0;
    margin-left: auto; /* 나머지 요소들을 왼쪽으로 몰아줌 */
}

/* 카테고리 */
#navbar {
	margin: 0 auto;
	width: 70%;
	z-index: 3;
}

/* 마이 페이지 */
#mybtn {
	margin-right: 20px;
}

/* 로고 이미지 */
#logo_remove {
	width: 170px;
	height: 40px;
	margin-left: 10px;
}

/* 검색창 */
#search {
	width: 250px;
	margin-right: 10px;
}

#pills-tab {
	display: flex;
  justify-content: center;
  margin-top: 10px;
}

.category-nav-item, .categoryBtn {
	width: 200px;
}


/* 회색 바탕 */
#all_Product_Bar_backgound {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    z-index: 1;
}

/* 카테고리 흰색 바탕 */
#all_Product_Bar {
    background-color: #ffffff;
    width: 70%;
    height: 500px;
    position: absolute;
    z-index: 2;
    left: 50%; /* 왼쪽을 기준으로 50%로 설정 */
    transform: translateX(-50%); /* 수평으로 -50%만큼 이동하여 가운데 정렬 */
}

/* 카테고리 내용 */
#all_Product_Bar_Content {
    position: absolute;
    z-index: 3;
    top: 100px; /* 상단으로부터의 거리 */
    left: 100px; /* 좌측으로부터의 거리 */
    width: 100px; /* 너비 */
    height: 50px; /* 높이 */
    display: block; /* 요소를 블록 수준으로 표시 */
    margin-top: 10px;
    left: 50%; /* 왼쪽을 기준으로 50%로 설정 */
    transform: translateX(-50%); /* 수평으로 -50%만큼 이동하여 가운데 정렬 */
}

/* 전체 상품 리스트를 가장 위에 보이기 위해 만듦. */
#bottomContainer {
	positon :relative;
	width: 70%;
	margin: auto;
}

/* 화장품 대표 이미지(= 커버 이미지) */
#coverImg {
	width: 250px;
	height: 250px;
	margin: auto;
    display: block;
}

/* 커버 사진 밑에 정보들 */
#cosmetic_content {
	width: 250px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 5px;
}

#cos_name_container {
  position: relative;
  display: flex;
  align-items: center;
  
}

/* 화장품명 */
#cos_name {
  line-height: 1.5; /* 글자 높이 설정 */
  font-weight: 500;
  margin: 0; /* margin을 0으로 설정하여 간격을 없앱니다. */
}

#cos_price_container {
/* 수직 중앙 정렬하기 */
  display: flex;
  align-items: center;
  font-weight: 600;
}


/* 화장품 컨테이너 */
#cosmetic_container {
}

/* 화장품 각각의 div */
#cosmetic_box {
	width: 25%;
	height: 260px;
	float: left;
}

/* 홈 > 기초 */
#category_name {
	margin-left: 20px;
}

#pills-tabContent {
	display: flex;
  justify-content: center;
}