/* 화면 상단의 사용자 이름 */
#userName_label {
	margin: 0 10px 0 0;
}

/* 로고 이미지 */
#logo_remove {
	width: 170px;
	height: 40px;
}

/* 캐러셀 */
#carouselExampleCaptions {
	width: 1000px;
	height: 540px;
}

#carousel_img {
	height: 540px;
	width: 800px;
}